<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.windsoft.kraft.contract.server.project.mapper.ProjectMapper">
  <resultMap id="BaseResultMap" type="com.windsoft.kraft.contract.mybatis.domain.Project">
    <!--@mbg.generated generated on Mon Mar 08 20:14:31 CST 2021.-->
    <!--@Table kc_project-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="code" jdbcType="CHAR" property="code" />
    <result column="content_id" jdbcType="BIGINT" property="contentId" />
    <result column="progress" jdbcType="TINYINT" property="progress" />
    <result column="funding" jdbcType="DECIMAL" property="funding" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Mon Mar 08 20:14:31 CST 2021.-->
    id, create_time, update_time, code, content_id, progress, funding, `name`
  </sql>
</mapper>