<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.windsoft.kraft.contract.consumer.pu.mapper.ProjectUserMapper">
  <resultMap id="BaseResultMap" type="com.windsoft.kraft.contract.mybatis.domain.ProjectUser">
    <!--@mbg.generated generated on Sat Mar 13 10:41:54 CST 2021.-->
    <!--@Table kc_project_user-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="permission" jdbcType="TINYINT" property="permission" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Sat Mar 13 10:41:54 CST 2021.-->
    id, create_time, update_time, user_id, project_id, permission
  </sql>
    <select id="selectByUserID" resultType="com.windsoft.kraft.contract.mybatis.domain.Project">
      SELECT
        id, create_time as createTime, update_time as updateTime, code, content_id as contentId, progress, funding, `name`
      FROM
        kc_project pro
      WHERE
        id IN
          (SELECT
            p_u.project_id
          FROM
            kc_project_user AS p_u
            LEFT JOIN kc_user ON kc_user.id = p_u.user_id
          WHERE
            p_u.user_id = #{id})
    </select>
  <select id="selectMemberByProjectId" resultType="com.windsoft.kraft.contract.consumer.pu.dto.UserInfoDto">
    SELECT
        kc_user.id AS id,
        kc_student.`name` AS `name`,
        kc_student.number AS number,
        kc_user.telephone AS telephone,
        kc_user.username AS username,
        permission AS permission
    FROM
        kc_project
        LEFT JOIN kc_project_user p_u ON kc_project.id = p_u.project_id
        LEFT JOIN kc_user ON p_u.user_id = kc_user.id
        LEFT JOIN kc_user_authentication u_a ON kc_user.id = u_a.user_id
        LEFT JOIN kc_student ON u_a.authentication_id = kc_student.id
    WHERE
        kc_project.id = #{id}
        AND is_student = 1
    ORDER BY permission ASC
  </select>
  <select id="selectAdviserByProjectId" resultType="com.windsoft.kraft.contract.consumer.pu.dto.UserInfoDto">
    SELECT
        kc_user.id AS id,
        kc_teacher.`name` AS `name`,
        kc_teacher.number AS number,
        kc_user.telephone AS telephone,
        kc_user.username AS username,
        permission AS permission
    FROM
        kc_project
        LEFT JOIN kc_project_user p_u ON kc_project.id = p_u.project_id
        LEFT JOIN kc_user ON p_u.user_id = kc_user.id
        LEFT JOIN kc_user_authentication u_a ON kc_user.id = u_a.user_id
        LEFT JOIN kc_teacher ON u_a.authentication_id = kc_teacher.id
    WHERE
        kc_project.id = #{id}
        AND is_student = 0
    ORDER BY permission ASC
  </select>
</mapper>